fastapi
uvicorn
requests
python-dotenv
python-multipart
pydantic
langchain
langchain-community
langchain-openai
langchain-core
langgraph
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
pypdf
